//- .post-reward
//-   .reward-button.button--animated
//-     i.fas.fa-qrcode
//-     = ' ' + _p('donate')
//-   .reward-main
//-     ul.reward-all
//-       each item in theme.reward.QR_code
//-         - var clickTo = item.link ? item.link : item.img
//-         li.reward-item
//-           a(href=url_for(clickTo) target='_blank')
//-             if theme.lazyload.enable
//-               img.post-qr-code-img(data-lazy-src=url_for(item.img) alt=item.text)
//-             else
//-               img.post-qr-code-img(src=url_for(item.img) alt=item.text)
//-           .post-qr-code-desc=item.text

link(rel='stylesheet' href=url_for(theme.CDN.coin_css) media="defer" onload="this.media='all'")
.post-reward
  button.tip-button.reward-button
    span.tip-button__text=  _p('不给糖就捣蛋')
    .coin-wrapper
      .coin
        .coin__middle
        .coin__back
        .coin__front
    .reward-main
      ul.reward-all
        each item in theme.reward.QR_code
          - var clickTo = (item.itemlist||item).link ? (item.itemlist||item).link : (item.itemlist||item).img
          li.reward-item
            a(href=clickTo target='_blank')
              if theme.lazyload.enable
                img.post-qr-code-img(data-lazy-src=url_for((item.itemlist||item).img) alt=(item.itemlist||item).text)
              else
                img.post-qr-code-img(src=url_for((item.itemlist||item).img) alt=(item.itemlist||item).text)
            .post-qr-code-desc=(item.itemlist||item).text
script(defer src=url_for(theme.CDN.coin_js))